In [3]:
import numpy as np
import pandas as pd

# Split train meta into smaller files

In [4]:
NUM_BATCHES = 659

In [5]:
meta_train = pd.read_parquet('/kaggle/input/icecube-neutrinos-in-deep-ice/train_meta.parquet')
meta_train.head()

   batch_id  event_id  first_pulse_index  last_pulse_index   azimuth    zenith
0         1        24                  0                60  5.029555  2.087498
1         1        41                 61               111  0.417742  1.549686
2         1        59                112               147  1.160466  2.401942
3         1        67                148               289  5.845952  0.759054
4         1        72                290               351  0.653719  0.939117

In [6]:
batch_ids = meta_train.batch_id.unique()[:NUM_BATCHES]
batch_ids

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659])

In [7]:
for batch_id in batch_ids:
    meta_train_i = meta_train[meta_train.batch_id == batch_id]
    meta_train_i.to_parquet(f'train_meta_{batch_id}.parquet')

# Create a smaller validation set - Meta and Batch

In [8]:
BATCH_VAL_ID = 660
NUM_EVENTS = 20000

In [9]:
meta_val = meta_train[meta_train.batch_id == BATCH_VAL_ID]
meta_val

,batch_id,event_id,first_pulse_index,last_pulse_index,azimuth,zenith
131800000,660,2144984130,0,48,3.529914,2.550824
131800001,660,2144984139,49,112,3.207535,2.059141
131800002,660,2144984142,113,265,4.151043,1.442473
131800003,660,2144984185,266,323,1.919508,1.337062
131800004,660,2144984191,324,384,2.112190,0.730649
...,...,...,...,...,...,...
131953919,660,2147483597,24339210,24339349,5.895612,0.333071
131953920,660,2147483603,24339350,24339383,3.273695,1.503301
131953921,660,2147483617,24339384,24339424,2.945376,1.723253
131953922,660,2147483626,24339425,24339499,1.616582,1.937025
131953923,660,2147483627,24339500,24339550,3.062654,1.842630

In [10]:
meta_val_small = meta_val.iloc[:NUM_EVENTS]
meta_val_small

,batch_id,event_id,first_pulse_index,last_pulse_index,azimuth,zenith
131800000,660,2144984130,0,48,3.529914,2.550824
131800001,660,2144984139,49,112,3.207535,2.059141
131800002,660,2144984142,113,265,4.151043,1.442473
131800003,660,2144984185,266,323,1.919508,1.337062
131800004,660,2144984191,324,384,2.112190,0.730649
...,...,...,...,...,...,...
131819995,660,2145308339,2842484,2842539,1.325493,2.579888
131819996,660,2145308345,2842540,2842595,1.125935,2.327080
131819997,660,2145308349,2842596,2842644,1.742233,0.656579
131819998,660,2145308357,2842645,2842698,6.206559,2.055423
131819999,660,2145308367,2842699,2845823,1.653390,0.963298

In [11]:
val_batch_df = pd.read_parquet(f'/kaggle/input/icecube-neutrinos-in-deep-ice/train/batch_{BATCH_VAL_ID}.parquet')
val_batch_df

            sensor_id   time  charge  auxiliary
event_id
2144984130       2825   5888   1.175       True
2144984130       1512   6029   0.775       True
2144984130       5090   6896   0.775       True
2144984130       3020   8027   0.725       True
2144984130        997   9294   0.825       True
...               ...    ...     ...        ...
2147483627       1463  15143   0.925       True
2147483627        300  15199   1.075       True
2147483627       3758  15670   0.875       True
2147483627       3267  16572   0.575       True
2147483627       4796  17163   0.475       True

[24339551 rows x 4 columns]

In [12]:
last_pulse_idx = meta_val_small.last_pulse_index.to_numpy()[-1]
val_batch_df = val_batch_df.iloc[:last_pulse_idx]
val_batch_df

            sensor_id   time  charge  auxiliary
event_id
2144984130       2825   5888   1.175       True
2144984130       1512   6029   0.775       True
2144984130       5090   6896   0.775       True
2144984130       3020   8027   0.725       True
2144984130        997   9294   0.825       True
...               ...    ...     ...        ...
2145308367        325  23982   0.725       True
2145308367        765  24086   0.725       True
2145308367       3835  24123   1.575       True
2145308367       3419  24167   1.125       True
2145308367       3713  24352   2.175       True

[2845823 rows x 4 columns]

In [13]:
meta_val_small.to_parquet(f'val_meta_{BATCH_VAL_ID}_small.parquet')
val_batch_df.to_parquet(f'batch_{BATCH_VAL_ID}_small.parquet')